{{title}}
<table border="1">
    <tr>
        <td>번호</td>        <td>이름</td>        <td>날짜</td>        
    </tr>
    {{#rows}}
    <tr>
        <td>{{idx}}</td>
        <td>{{name}}</td>
        <td>{{date}}</td>
    </tr>
    {{/rows}}
</table>
 


